<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Назначить курс</title>
  <link rel="stylesheet" href="https://unpkg.com/flexboxgrid2@7.2.1/flexboxgrid2.min.css">
  <link rel="stylesheet" href="style.css">
  
</head>
<body>
   <div class="container">
        <div class="row"><h1 class="main_title">Назначить курс</h1></div>
        <div class="row">
            <div class="search_user">
                 <h4>Выберите пользователя</h4>
                 <select>
                     <option>Имя</option>
                 </select>
                 <button class="button">Назначить</button>
            </div>
        </div>
    </div>
</body>
</html>