<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Создать курс</title>
  <link rel="stylesheet" href="https://unpkg.com/flexboxgrid2@7.2.1/flexboxgrid2.min.css">
  <link rel="stylesheet" href="style.css">
  
</head>
<body>
   <div class="container">
        <div class="row"><h1 class="main_title">Создать урок</h1></div>
        <div class="row">
            <div class="name lesson">
                 <h4>Название урока</h4>
                 <input type="text"></input>
            </div>
        </div>
        <div class="row">
            <div class="main lesson">
                <h4>Содержание урока</h4>
                <textarea></textarea>
                <button class="button">Сохранить</button>
           </div>
        </div>
    </div>
</body>
</html>